body{
    background-color: #ffffff;
    /*font-family: serif;*/
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.25;
    margin: 0;
    }

header{

    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    /*font-family:'Times New Roman', Times, serif;*/
    font-family:sans-serif;
    margin-bottom: 20px;

}

main{
    width:85%;
    margin:0 auto;
}

.narrow{
    width: 80%;
    /*margin-left: 7%;
    margin-right: 20%;*/
    margin: 0 auto;
}

header img{
    
    /* width: 728px;
    height: 90px; */
    width: 700px;
    height: 87px;
}

h1{
    color:#c9211e;
}

/* navbar */

.navbar ul{
    font-size: .9em;
    list-style-type:none;
    background-color: hsl(0, 0%, 25%);
    padding-left: 10px;
    /*margin: 0px;*/
    margin-top:10px;
    overflow: hidden;
}

.navbar a{
    color: #ffd000;
    text-decoration: none;
    padding: 8px 20px;
    display: inline-block;
    text-align: center;
}

.navbar a:hover{
    background-color: #ffd000;
    color: #000000;
}

.navbar li{
    float:left;
    }

 
/* Information table on Home page */

table.homepage {
    table-layout: fixed;
    border-style: hidden;
    border-collapse: collapse;
    /*border-radius: 8px 8px 0 0;*/
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0px;
    width: 85%;
    box-shadow: 10px 10px 15px grey; 
}

.homepage th, td {
    width: 50%;
    margin: 0 auto;
    border-right: 1px solid black;   
}

.homepage th{
    background-color: #382e87;
    color:white;  
    height:35px;
}

.homepage tr{background-color: #f9f957;}

.homepage td{
   
    padding-left: 10px;
    padding-top: 20px;
    vertical-align: top;
    line-height: 1.0;
}
    
.homepage ul{
    margin-top: 0;
    padding-left: 20px;
}

.homepage a {
    color:#000000;
    text-decoration:underline;
  }
    

/* Format of main content of page */

.table_meeting{
    
    /*margin: 0 auto;*/
    border: 1px solid black;
    /*border-top: 1px solid black;
    border-bottom: 1px solid black;*/
    border-collapse: collapse;
    margin-left: 0;
    width: 100%;
    table-layout: relative;
   
}

.table_meeting td{
    
    width: 33%;
    padding: 8px;
    vertical-align: top;
}

.subtable{

    margin: 0 auto;
    /*border: 1px solid black;
    border-collapse: collapse;*/
    /*border-right: none;*/
    /*border: none;*/
    background-color: #ffffa6; 
     
}

.subtable td{
    width: 50%;
    font-size: .9em;
    line-height: 1;
    text-align: center; 
    border-right: none;
}

.subtable td:hover{
    color:red;
    background-color: #ffd000;
}

.subtable img{
    border: 1px solid black;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.subtable a{
    color:black;
    text-decoration: none;}

.subtable a:hover{
    background-color:black;
    color:#f6de06;
    text-decoration: none;}

    /* Freeware page */

    /*Minutes-Prior page */

    table.minprior {
        table-layout: fixed;
        border-style: hidden;
        border-collapse: collapse;
        /*border-radius: 8px 8px 0 0;*/
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 10px 10px 15px grey;
        /* margin: 0 auto; */
        margin-bottom: 0px;
        margin-top:0px;
        width: 50%;

    }   
        
    .minprior tr{background-color: #ffd000;}
    
    .minprior td{
       
        width: 32%;
        padding-left: 10px;
        /*padding-top: 20px;*/
        vertical-align: top;
        line-height: 1.0;
    }

    .minprior a{
        color:black;
        text-decoration: none;}
        
    .minprior a:hover{
        background-color:black;
        color:#f6de06;
        text-decoration: none;}
   
/* Events */

table.events {
    table-layout: fixed;
    border-style: hidden;
    border-spacing: 10px;
    border-collapse: collapse;
    /*border-radius: 8px 8px 0 0;*/
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 15px grey;
    width:60%;
    margin: 0 auto;
    /*margin-bottom: 0px;
    margin-top:0px;*/
    
}   
    
.events tr{background-color: #ffd000;}

.events td{
   
    width: 32%;
    /*padding-left: 7px;
    padding-bottom: 20px;
    /*padding-right:30px;*/
    /*padding-top: 20px;*/
    padding: 12px;
    vertical-align: top;
    line-height: 1.0;
    border: 1px solid black;
}

.events a{
    color:black;
    text-decoration: none;}
    
.events td:hover{
    background-color:#f7f57d;
    /*color:#f6de06;*/
    text-decoration: none;}


/* Freeware.html - No Tables */

.grid-container {
       
    display: grid;
    /*grid-template-columns: 1fr 1fr minmax(50px, max-content) 1fr;*/
    grid-template-columns: 3fr 3fr 40px 3fr;
    grid-template-rows: 35px 5fr;
    /*background-color: #2196F3;*/
    /*box-shadow: 10px 10px 15px grey;*/
    
    
  }

  .grid-container-freeware {
       
    display: grid;
    /*grid-template-columns: 1fr 1fr minmax(50px, max-content) 1fr;*/
    grid-template-columns: 3fr 3fr 20px 3fr;
    grid-template-rows: 35px 5fr;
    /*background-color: #2196F3;*/
    /*box-shadow: 10px 10px 15px grey;*/
    
  }

  .grid-item-freeware-spacer{
    padding:5px;
  }

  /* Here before integration */
  
  .grid-container a {
    color:#000000;
    text-decoration:underline;
  }

  .grid-container a:hover {
    background-color: #000000;
    color:#ffd000;
    text-decoration:none;
  }

  .grid-container-freeware a:hover {
    background-color: #000000;
    color:#ffd000;
    text-decoration:none;
  }
  
  /*.grid-container li{
  list-style-type: none;
  text-align: left;
  }*/
  
  
  .grid-item-header1 {
    grid-column: 1/3;
    grid-row: 1/1;
    background-color: #ffffa6;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 0 0;
    /*padding: 20px;*/
    font-size: 1em;
    text-align: center;
    align-content: center;
    
  }
  
  .grid-item-header2 {
    grid-column: 4/5;
    grid-row: 1/1;
    background-color: #f7a36b;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px 8px 0 0;
    /*padding: 20px;*/
    font-size: 1em;
    text-align: center;
    align-content: center;
    
  }
  
  grid-item-spacer{
    border:none;
  }
  
  .grid-item-body1 {
    background-color: #ffffa6;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 15px grey;
    border-radius: 0px 0px 0px 8px;
    font-size: 0.95em;
    /*align-content: center;*/
  }
  
  .grid-item-body2 {
    background-color: #ffffa6;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 15px grey;
    border-radius: 0px 0px 8px 0px;
    font-size: 0.95em;
    /*align-content: center;*/
  }
  
  .grid-item-body3 {
    background-color: #f7a36b;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 15px grey;
    border-radius: 0px 0px 8px 8px;
    padding-top:0;
    font-size: 0.95em;
    /*text-align: center;*/
    /*align-content: center;*/
  }
  
  /* End:  Freeware.html with No Tables */


.container{
    
    width: 80%;
    margin: 0 auto;
    min-width: 400px;
}

.container ul{

    position: relative;
    left: -18px;
    margin-top: 0;

}

.container h3{
    margin-bottom:7px;
}


.back {
    padding: 20px;
}

.back a {
    text-decoration: none;
}

table.quickref {
   table-layout: fixed;
    /*border-style: hidden;*/
    border-collapse: collapse;
    /*border-radius: 8px 8px 0 0;*/
    border-radius: 8px 8px 0 0;
    margin: 0 auto;
    /*margin-left:-75px;*/
    margin-bottom: 0px;
    font-size:12pt;
    background-color: #ffffa6;
    width: 95%;

    
}

.quickref th{
    width:20%; 
    height: 2em;
   
    background-color: #382e87;
    color:#f6de06;
    /*vertical-align: top;*/
}

.quickref tr{
    vertical-align:middle;
    
}

.quickref td{
    width:20%;
    border: 1px solid black;
    border-top:none;
    text-align: left;
    line-height:1em;
    vertical-align: top;
    padding-right: 8px;
    overflow:hidden;
    
}

.quickref a{
    color: #000000;
    text-decoration: none;
}

.quickref a:hover{
    color:#f6de06;
    background-color: #382e87;
    }
    


.quickref ul{
    padding-left: 25px;
}

.techtop {
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    background-color: #fafa13;
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 10px 10px 15px grey;
    border-radius: 8px 8px 8px 8px;
    padding-top:0;
    font-size: 1.1em;}

    .techtop-grid-item{

        font-size: 0.9em;
        text-align: left;
        padding-right: 6px;
    }

    .techtop-grid-item:nth-child(1){
        border-right:1px solid black;
    }

    .box h4{
        line-height: .4em;
    }

    .box h2{
        /*margin-bottom: 0.10em;*/
        margin-bottom: 0.4em;
    }

    .box h3{
        margin-top: 0.20em;
        line-height:0.7em;
    }

       .linksize{
        font-size: 1.2em;
        font-weight:bold;
        color:green;
    }

    .grid-maint {
       
        display: grid;
        /*grid-template-columns: 1fr 1fr minmax(50px, max-content) 1fr;*/
        grid-template-columns: 1fr 1fr;
        /*grid-template-rows: 1fr 1fr;*/
        background-color: #f3e921;
        border: 1px solid black;
        
      }

      .grid-maint-item{
        
    border: 1px solid black;
    padding: 20px;
    font-size: 1em;
    /*text-align: center;*/
    align-content: left;

      }

      .grid-maint img{
        float: left;
        margin-right: 20px;
      }

      .ul_link a{
        color: black;
      }
   
      .ul_link a:hover{
        text-decoration: none;
        background-color: black;
        color:#ffd000;
    }

    .img_left{
        width:100px;
        float:left;
        margin: 10px;
    }

    .img_right{

        width:200px;
        float:right;
        margin: 10px;
    }

/* For Recommended Specifications Grid */

.grid-container-specs {
       
    display: grid;
    /*grid-template-columns: 2fr 2fr 2fr 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-rows:minmax(60px, max-content);
    width:95%;
    margin:auto;
    border:1px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 15px grey;
    
    
  }

  .grid-item-header-1{

    background:#f9f957;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px 0 0 0;

    grid-column: span 3;
    
  }

  .grid-item-header-1-last{

    background-color:#f9f957;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
    border-radius: 0 8px 0 0;
    border-right: 1px solid black;   
    border-left-style: double;
    border-left-color: #000000;
    border-left-width: 3px;
   }

  .grid-item-header-2{

    background-color:#ffff6d;
    color: #000000;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
  }

  .grid-item-header-2-last{

    background-color:lightblue;
    color: #000000;
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;   
    border-left-style: double;
    border-left-color: #000000;
    border-left-width: 3px;
  }

  .grid-item{
    background-color: #382e87;
    color: #ffffff;
    font-size: 1.1rem;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    
  }

  .grid-item-last{
    background-color: #c9ebf9;
    color: black;
    padding: 8px;
    border-top: 1px solid black;
    /*border-right: 1px solid black;*/
    font-size: 1.1rem;
    border-left-style: double;
    border-left-color: #000000;
    border-left-width: 3px;
    
  }

  .grid-item-bottom_corner_right{
    background-color: #c9ebf9;
    color: black;
    padding: 8px;
    border-top: 1px solid black;
    /*border-right: 1px solid black;*/
    font-size: 1.1rem;
    border-left-style: double;
    border-left-color: #000000;
    border-left-width: 3px;
    border-radius:0 0 8px 0;
    
  }

  .grid-item-bottom_corner_left{
    background-color: #382e87;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px;
    border-top: 1px solid black;
    border-radius:0 0 0 8px;
    
  }

  /*  For Quick Reference Cards Grid */

  .grid-container-quickref{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-auto-rows:minmax(65px, max-content);
    width:90%;
    margin:auto;
    background-color: #f9f9f7;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px 10px 15px grey;

  }
  .grid-container-quickref ul, ol{  
    margin-left: 1em;
    padding: 7px;
  }
  
  .grid-container-quickref>div:nth-child(1){
    /*border-top: 1px solid black;*/
    border: 1px solid black;
    border-radius: 8px 0 0 0;
    background-color: #382e87;
    color:#f9f957;
    font-size:1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .grid-container-quickref>div:nth-child(2){
    border: 1px solid black;
    background-color: #382e87;
    color:#f9f957;
    font-size:1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .grid-container-quickref>div:nth-child(3){
    border: 1px solid black;
    background-color: #382e87;
    color:#f9f957;
    font-size:1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .grid-container-quickref>div:nth-child(4){
    border: 1px solid black;
    background-color: #382e87;
    color:#f9f957;
    font-size:1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .grid-container-quickref>div:nth-child(5){
    border: 1px solid black;
    border-radius: 0 8px 0 0;
    background-color: #382e87;
    color:#f9f957;
    font-size:1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 8px;
  }
  .grid-container-quickref>div:nth-child(6){
    border: 1px solid black;
    border-radius: 0 0 0 8px;
    background-color: #f9f957;
    color: #000;
    font-size:1.0rem;
    /*text-indent:-15px;*/
    padding:6px;
  }
  .grid-container-quickref>div:nth-child(7){
    border: 1px solid black;
    background-color: #f9f957;
    color: #000;
    font-size:1.0rem;
    padding:6px;
  }
  .grid-container-quickref>div:nth-child(8){
    border: 1px solid black;
    background-color: #f9f957;
    color: #000;
    font-size:1.0rem;
    padding:6px;
  }
  .grid-container-quickref>div:nth-child(9){
    border: 1px solid black;
    background-color: #f9f957;
    color: #000;
    font-size:1.0rem;
    padding:6px;
  }
  .grid-container-quickref>div:nth-child(10){
    border: 1px solid black;
    border-radius: 0 0 8px 0;
    background-color: #f9f957;
    color: #000;
    font-size:1.0rem;
    padding:6px;
  }

  /* For Grid-coded quickref.  Duplicates entries in main stylesheet.*/

  .grid-container-quickref a{
    color: #000000;
    text-decoration:underline;
}

.grid-container-quickref a:hover{
    color:#f6de06;
    background-color: #382e87;
    }
    
.grid-container-used_laptops{
  display:grid;
  width: 75%;
  grid-template-columns: repeat(2,max-content);
  border:1px solid black;
  border-radius: 8px;
  column-gap: 20px;
}