body{
    /*background-color: #cde7b0; */
    background-color: #ffffff;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
    }

header{

    /* background-color: #59594A; */
    /*padding-top: 50px;
    padding-bottom: 50px;*/
    /*background: linear-gradient(to bottom,  #1b0a70,  #c2d2ec); */
    /* padding-top: 50px; */
    background-color: #ffffff;
    /*padding-top: 50px; */
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    /* color:#FFF; */
    font-family:'Times New Roman', Times, serif;
    /*text-transform: uppercase;*/
    margin-bottom: 20px;

}

header img{
    
    /* width: 728px;
    height: 90px; */
    width: 700px;
    height: 87px;
}

/*header h1{
    color:  #ffd000;
    padding-bottom: 0px;
    line-height: 2px;
    
}

header h3{
    color: #000000;
    padding-top: 0;
    
} */

.navbar ul{
    font-size: 12pt;
    list-style-type:none;
    background-color: hsl(0, 0%, 25%);
    /* background-color: #000000; */
    padding: 0;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    /* color: white; */
    color: #ffd000;
    text-decoration: none;
    /* padding: 15px; */
    padding: 8px 20px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    /* background-color: hsl(0,0%, 10%); */
    background-color: #ffd000;
    color: #000000;
}

.navbar li{
    float:left;
    }

main{
    width:85%;
    margin:0 auto;
}


/*.container{

    width: 80%;
    margin: 0 auto;
   

}

section{

    float:left;
    width:70%;
    margin-bottom: 100px;
    padding:0 10px;
    background-color: azure;

}

aside{

    float: right;
    width: 25%;
    background-color: beige;
    padding-top:0;
    

} */

footer{

    clear:both;
    background-color: #7286a0;
    text-align: center;
    padding:50px 0;
}